* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;


}

.controls{
    margin: 10px;
    font-size: 32px;
}

#canvas-container {
    border: 10px solid black;
    background-image: url('./assets/mandrake.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#mandrake {
    display: none;
}

label, input{
    cursor: pointer;
}